/*Catamaran font, weights 400 and 500*/

@import url('https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap');

/*Roboto font, weights 400 and 500*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* Navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin: 0px 24px 0px 24px;
}
header li {
    display: inline-block;
    margin-right: 16px;
}
header li a {
    text-decoration: none;
    color: black;
}
header li a:hover {
    color: skyblue;
}

/* Logo */

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    float:left;
}
.colmar {
    font-family: "Catamaran", sans-serif;
    font-weight: 500;
    font-size: 22px;
}
.academy {
    font-family: "Catamaran", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: gray;
}

/* Banner */

.banner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightgray;
    padding: 32px 24px 32px 24px;
}
.banner-img {
    display: flex;
    min-width: 30%;
    max-width: 60%;
    
}
.banner-section {
    padding-left: 40px;
    width: 35%;
    color: #222426;
}
.banner-section h1 {
    font-size: 5.0rem;
    margin-bottom: 40px;
}
.banner-section h3 {
    font-size: 2.3rem;
}
.banner-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222426;
    height: 50px;
    width: 100%;
    margin-top: 40px;
    border: none;
}
.banner-button:hover {
    background-color: skyblue;
    transition: background-color 0.30s ease-in 0s;
}
.banner-button a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

/* First section */

.first-section {
    display:flex;
    padding: 32px 24px 32px 24px;
    color: #222426;
}
.first-section-cntbox1 {
    width: 60%;
}
.first-section-cntbox1 h3 {
    font-size: 4rem;
    margin-top: 30px;
    margin-bottom: 30px;
}
.first-section-cntbox1 p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.8;
}
.emanuel {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 40px;
    opacity: 1;
}
.first-section-cntbox2 {
    width: 40%;
}
#first-section-cntbox2-child {
    display: flex;
    align-items: center;
    margin-left: 16px;
}
#first-section-cntbox2-child img {
    width: 35%;
    margin: 16px 16px 16px 16px
}
.first-section-cntbox2-child1 {
    margin-top: 0px;
}
#first-section-cntbox2-child p {
    font-size: 1.2rem;
    margin-top: 8px;
    margin-bottom: 8px;
}
#first-section-cntbox2-child h4 {
    font-size: 2.3rem;
}
#first-section-cntbox2-child a {
    text-decoration: none;
    color: lightslategrey;
}
#first-section-cntbox2-child a:hover {
    color: skyblue;
}
.first-section-cntbox2-child3 {
    background-color: lightgrey;
}

/* Second section */
#second-section {
    background-color: lightgrey;
    color: #222426;
    padding: 32px 72px 32px 72px;
}
#second-section-cntbox1 {
    margin-bottom: 32px;
}
#second-section-cntbox1 h1 {
    font-size: 5.0rem;
    text-align: center;
}
#second-section-cntbox2 {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#second-section-cntbox2-child {
    background-color: white;
    margin-top: 32px;
}
#second-section-cntbox2-child div {
    margin: 16px 16px 24px 16px
}
#second-section-cntbox2-child img {
    height: auto;
}
#second-section-cntbox2-child p {
    margin-top: 8px;
    opacity: 0.8;
}
#second-section-cntbox2-child h4 {
    font-size: 2.5rem;
}

